.conatiner{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 60px;
    
}
.container h2{
    text-align: center;
    margin-top: 20px;
    color: #5a7b5e;
}
.item{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
margin-top: 20px;
}

.container-item input{
width: 100%;
height: 40px;
border-radius: 10px;
border-radius: 1px soild #999;
text-indent: 1.2em;
}
.liuyan{
    width: 1200px;
    margin:  0 auto;
    margin-top: 20px;
}
.liuyan textarea{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    text-indent: 1em;
   padding-top: 10px;

}

.submit{
    padding: 5px 50px;
    border-radius: 30px;
   display:block;
    background-color: #fff;
    margin:  20px auto;
    cursor: pointer;
    transition: transform 80ms ease-in;
}
.submit:active{
    transform: scale(0.95);
}
@media screen and (max-width:575px) {

   .item,.liuyan{
        width: 100%;
    }

   

}
@media screen and (min-width:576px) and (max-width:767px) {

    .item,.liuyan {
        width: 540px;
    }

   
    

}

@media screen and (min-width:768px) and (max-width:992px) {

   .item,.liuyan {
        width: 720px;
    }

  

    .
}

@media screen and (min-width:992px) and (max-width:1200px) {

   .item,.liuyan {
        width: 960px;
    }



}

@media screen and (min-width:1200px) {
  
.item,.liuyan{
        width: 1200px;
    }


}
